* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    /* display: flex;
    flex-direction: column;
    height: 100vh; */
}

.hero, .information, .quote-bg, .call-to-action {
    flex-grow: 1;
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 66%;
    margin: 0 auto;
    padding: 10px;
}

.container ul {
    display: flex;
    gap: 10px;
}



.hero, .footer, .header{
    background-color: #1F2937;
}

.footer {
    color: #F9FAF8;
    text-align: center;
    padding: 30px;
}

.hero-text > h1{
    font-size: 48px; 
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text p, .header a {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.call-to-action .container {
    display: flex; 
    padding: 60px 150px;
    justify-content: space-between;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
}

.call-to-action button {
    font-size: 18px;
    font-weight: 600;
    background-color: #3882F6;
    padding: 8px 25px;
    color: #F9FAF8;
    border-radius: 5px;
    border-color: #F9FAF8;
}

.call-to-action h3 {
    font-size: 25px;
}

.information h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote-bg{
    padding: 100px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote{
    width: 40%;
}

.quote-source {
    font-weight: 700;
    font-size: 20px;
    text-align: right;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 10px;
}